@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700&display=swap');

body{
    margin: 0px;
}

a:hover{
    text-decoration: underline;
}

header{
    font-family: 'Passion One', cursive;
    text-align: center;
    background-color: black;
    color: white;
    padding: 50px;
}

header h1{
    margin: 0px;

}

header a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

header p{
    font-weight: normal;
}

section{
    padding: 20px;
}

footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
}
footer p{
    margin: 0px;
}

footer a{
    font-weight: bold;
    color: white;
    text-decoration: none;
}